DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,backend

POSTGRES_DB=exam_generator
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

DB_NAME=exam_generator
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_HOST=db
DB_PORT=5432

ANTHROPIC_API_KEY=your_anthropic_api_key_here
